.center {
  font-size: 2rem;
  text-align: center;
}
.caseParam {
  font-size: 1.875rem;
  font-weight: 500;
  margin-top: 0.8rem;
}
.caseTitle {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.6;
}
.caseTitleDescript {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2.5rem;
}
.caseDescript {
  font-size: 1.875rem;
  font-weight: 500;
  margin-top: 0.8rem;
}
.caseGeo {
  font-size: 1.125rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}
.caseLink {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2.5rem;
}

@media screen and (min-width: 900px) {
  .caseTitle {
    margin-top: 10%;
  }
}
