@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

body {
  background-color: aliceblue;
  font-family: "Merriweather", serif;
}
.App {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.center {
  font-size: 1.5rem;
  text-align: center;
}
.caseParam {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.caseTitle {
  font-size: 1.875rem;
  line-height: 1.4;
}
.caseTitleDescript {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.caseDescript {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
.caseGeo {
  font-size: 1.125rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.caseLink {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 900px) {
  .App {
    width: 75%;
  }
  .caseTitle {
    margin-top: 10%;
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.6;
  }
  .center {
    font-size: 2rem;
    text-align: center;
  }
  .caseParam {
    font-size: 1.875rem;
    font-weight: 500;
    margin-top: 0.8rem;
  }
  .caseTitleDescript {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2.5rem;
  }
  .caseDescript {
    font-size: 1.875rem;
    font-weight: 500;
    margin-top: 0.8rem;
  }
  .caseGeo {
    font-size: 1.125rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
  }
  .caseLink {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2.5rem;
  }
}
